<button md-fab 
  (click)="new()"
  *ngIf="persistible">
  <md-icon>add</md-icon>
</button>
<app-admin-appraisal-new
  *ngIf="_new"
  [appraisalType]="appraisalType"
  (create)="create($event)"
  (cancel)="new($event)"
>
</app-admin-appraisal-new>

<app-admin-appraisal-list
  *ngIf="showList"
  [appraisalType]="appraisalType"
  [collectionName]="collectionName"
  [resourceResponseCollection]="resourceResponseCollection"
  (select)="select($event)">
</app-admin-appraisal-list>


<app-admin-appraisal-show
  *ngIf="hasItemSelected"
  [appraisalType]="appraisalType"
  [persistible]="persistible"
  [resourceResponse]="resourceResponseSelected"
  (back)="deselect($event)"
  (update)="update($event)"
  (remove)="remove($event)">
</app-admin-appraisal-show>
