<md-card class="example-card">
  <md-card-header>
	
    <!--<div md-card-avatar class="example-header-image"></div>-->
    <md-card-title><md-icon (click)="emitBack()">reply</md-icon> {{resourceResponse.title}}</md-card-title>
    <md-card-subtitle>{{resourceResponse.image}}</md-card-subtitle>
  </md-card-header>
  
  <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->

	<!-- resume-content -->
	<md-card-content class="resume-content" *ngIf="!_edit">
		<p>
		  {{resourceResponse.description}}
		</p>
	 </md-card-content>
  
  <!-- edit-content -->
  <md-card-content class="resume-content" *ngIf="_edit">
    <app-admin-appraisal-type-form class="edit-content"
        [resourceResponse]="resourceResponse">
    </app-admin-appraisal-type-form>
  </md-card-content>

  <!-- resume-actions -->
  <md-card-actions class="resume-actions" *ngIf="!_edit">
    <button md-button (click)="edit($event)">Editar</button>
    <button md-button (click)="emitRemove(resourceResponse)">Remover</button>
	
  </md-card-actions >
  <!-- edit-actions -->
  <md-card-actions class="edit-actions" *ngIf="_edit">
    <button md-button (click)="cancelEdit($event)">Cancelar</button>
    <button md-button (click)="emitUpdate(resourceResponse)">Salvar</button>
    <button md-button (click)="emitRemove(resourceResponse)">Remover</button>
  </md-card-actions>
</md-card>

<!-- Questions -->
<md-card style="background-color: #888;">
    <md-card-header>
      <h4>Questions</h4>
    </md-card-header>
    <md-card-content>
      <app-admin-question [appraisalType]="resourceResponse"></app-admin-question>
    </md-card-content>
  </md-card>
    
  <!-- Appraisals -->
  <md-card style="background-color: #888;">
    <md-card-header>
      <h4>Appraisals</h4>
    </md-card-header>
    <md-card-content>
      <app-admin-appraisal [appraisalType]="resourceResponse" [persistible]="false"></app-admin-appraisal>
    </md-card-content>
  </md-card>