<button md-fab (click)="new()">
  <md-icon>add</md-icon>
</button>
<app-admin-area-new
  *ngIf="_new"
  (create)="create($event)"
  (cancel)="new($event)"
>
</app-admin-area-new>

<app-admin-area-list
  *ngIf="showList"
  [collectionName]="collectionName"
  [resourceResponseCollection]="resourceResponseCollection"
  (select)="select($event)">
</app-admin-area-list>


<app-admin-area-show
  *ngIf="hasItemSelected"  
  [persistible]="persistible"
  [resourceResponse]="resourceResponseSelected"
  (back)="deselect($event)"
  (update)="update($event)"
  (remove)="remove($event)">
</app-admin-area-show>
