	<div class="fullscreen-bg">
		<video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
			<source src="assets/student/video/grass.mp4" type="video/mp4">
		</video>
	</div>
	
	<div fxLayout="row" class="content">
	
		<div fxFlex="10%" fxShow.gt-md></div>
	
		<md-card fxFlex.gt-md="40%" fxFlex.st-md="100%" fxLayout="column">

			<button 
				md-button 
				md-raised-button
				color="accent"
				(click)="confirmAccount($event)">
				Confirmar Conta
			</button>
	
		</md-card>
	
		<div fxFlex="60%" fxShow.gt-md></div>
		
	</div>