
<!--(ngSubmit)="send(form)"-->
<form  [formGroup]="_form">

  <table class="example-full-width" cellspacing="0">
    <tr>

      <td>
        <md-input-container class="example-full-width">
          <input
            mdInput
            formControlName="type"
            type="text"
            placeholder="type">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container class="example-full-width">
          <input
            mdInput
            formControlName="percentage"
            type="number">
        </md-input-container>
      </td>
    </tr>
    <tr>
          <td>
            <md-input-container class="example-full-width">
              <input
                mdInput
                formControlName="value"
                type="text"
                placeholder="value">
            </md-input-container>
          </td>
    </tr>
</table>

</form>
<!--"title" : "Arquiteto",
      "" : "Pensadores criativos e estratégicos, com um plano para tudo.",
      "image" : null,
      "type" : "Analistas",
      "code" : "INTJ (-A/-T)",-->
